$darkBlue: #032B43;
$lightGreen: #136F63;
$yellow: #FFBA08;
$red: #D00000;
$lightBlue: #3F88C5;
$background: #ECECEA;
$roboto: 'Roboto', sans-serif;
$transitionTime: .7s;

body {
  background-color: $background;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  // flex-direction: row;
  // flex-wrap: none;
  font:{
    family: $roboto;
    size: 2em;
  }
  border: {
    // bottom: 3px solid $darkBlue;
  }
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.headerLinks {
  margin-left: auto;
  a {
    text-decoration: none;
    color: black;
  }
}

.boigraphy {
  width: 80%;
  margin-left: 10%;
  font:{
    size: 1.5em;
    family: $roboto;
  }
  color: $lightGreen;
  margin-top: 1em;
  text-align: left;
}

.myWork {
  width: 90%;
  margin:{
    left: 5%;
    top: 2em;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projDiv {
  width: calc(99% / 3);
  // flex-grow: 2;
  text-decoration: none;
  // background-image: url(../files/CiW.png);
}

.projTitle {
  text-align: center;
  font:{
    size: 1.5em;
    family: $roboto;
    weight: bold;
  }
  padding-bottom: 4px;
}

.line {
  border-top: solid 3px $lightGreen;
  width: 50%;
  margin-left: 25%;
  // margin-bottom: .8em;
  transition: -webkit-transform $transitionTime, opacity $transitionTime;
}

.projDeets {
  margin-top: 5px;
  font:{
    size: 1em;
    family: $roboto;
  }
  //  font-size: .6em;
   opacity: 0;
   transition: -webkit-transform $transitionTime, opacity $transitionTime;
}

.projLink {
  display: inline-block;
  // text-decoration: none;
}

.projRepo {
  display: inline-block;
  float: right;
}

.projDescription {
  margin-top: 5px;
  // font:{
  //   size: 1.5em;
  //   family: $roboto;
  // }
}

//These are the classes that will be added to certain elements via javascript

// #iconHover {
//   -webkit-transform: translateY(10px);
// }

.lineHover {
  -webkit-transform: translateY(50px);
  opacity: 0;
}

// .englishHover {
//   -webkit-transform: translateY(-40px);
// }

.deutschHover {
  -webkit-transform: translateY(-10px);
  opacity: 1;
}

.blurbImg {
  width: 100%;
}
